body{
    background-image: linear-gradient(to left, #f5d5b6, #ebe0d4,#f6e9dc,#f8eadc,#f9f1e8,#f5d5b6);
}
::selection{
    color:black ;
    background:#dad1c8 ;
}
header{
    width: 100%;
    padding-top: 0;
}

.navbar{
    margin: auto;
    height: 70px;
    width: 100%;
    display: flex;
    position: fixed;
    background-image: linear-gradient(to bottom, #ae661e, #cc7e31,#d58637,#e19447);
}

header .navbar .ulnav a{
    color: #fff;
    /* display: block; */
    font-size: 20px;
    text-decoration: none;
}

.ulnav li a:hover{
    color:#e1b68a;
    font-size: 15px;
}

ul{
    list-style: none;
}

header ul.ulnav li{
    padding: 10px;
    margin-left: 50px;
    display: inline-block;
}
/* --------------------- */
header .icon i{
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 60px;
}
header .icon i:hover{
    color: bisque;
}


.login-form{
    position: fixed;
    top: -120%;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.login-form.active{
    top: 0;
}
.login-form #form-close{
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}
.login-form form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}
.login-form form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    padding:1rem 0;
    text-align: center;
}
.login-form form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgba(0, 0, 0, 0.3);
    text-transform: none;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    color:#e6b583;
    padding: .8rem 3rem;
    border: .2rem solid #e6b583;
    cursor: pointer;
    font-size: 15px;
    background: #8b4906;
}.btn:hover{
    color: #fff;
    background:#e6b583;
}
.login-form form .btn{
    display: block;
    width: 100%;
}
.login-form form #remember{
    margin: 2rem 0;
}
.login-form form label{
    font-size: 1.5rem;
}
.login-form form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;
}
.login-form form p a{
    color:  #8b4906;
}

/* ----------------------------------- */


.search{
    width: 170px;
    height: 15px;
    margin-top: 25px;
    margin-left: 250px;
    
}
.btsearch{
    width: 65px;
    height: 20.5px;
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 5px;
    border:2px solid black;
    background-color: #f1ede9;
}
.btsearch:hover{ 
    width: 80px;
    transition: all 0.5s;
    background-color:#ddc3a9;
    box-shadow: 0px 2px 2px 0px #d5b697; 
}

/* --------------------------------------- */

.logo{
    width: 80px;
    height: 60px;
    padding-top: 5px;
    margin-left: 100px;
}
.logo:hover{
    width: 80px;
    transform: scale(0.9);
}

/* --------------------------------------- */

.one{
    width: 100%;
    height: 800px;
    padding-top: 70px;
}

.home2 .two{
    width: 100%;
    height: 700px;
    padding-top: 10px;
    vertical-align: middle;
}

.home2{
    margin: 0 auto;
    position: relative;

}
.home2 .des2{
    position: absolute;
    top: 20px;
    left: 8px;
    width: 500px;
    color: white;
}
.home2 .des2:hover{
    font-size: 50px;
}

.pmm{
    width: 100%;
    height: 45px;
    text-align: center;
    border-radius: 0 50px;
    box-shadow:  #595755; 
    background-image: linear-gradient(to bottom, #dab794, #d6c0aa,#ecc8a4,#f1d5b8);
}
#pmm{
    padding-top: 10px;
}

/* ------------------------------------------ */

.special{
    flex-flow: row ;

}
.on{
    width: 300px;
    height: 300px;
}
.pp{
    border: 2px rgb(190, 178, 178) solid;
}


/* --------------------about----------------------- */
.hello{
    width:25%;
    border-radius: 0 50px ;
    background-color: #edac6f;
    box-shadow: 0 0 20px 2px #cfb193;
}
.about{
    width:85% ;
    height: 350px;
    display:flex;
    border: 0 25px;
    
}
.imgabout{
    justify-content: center;
    padding-left: 70px;
    padding-top: 25px;
    transition: 0.5s;
}
.imgabout1{
    border-radius: 50px;
    box-shadow: 0 0 20px 2px #daba9a;
}
.imgabout1:hover{
    transform:scale(1.05);
}

.aboutpizza{
    padding-left: 10%;
    padding-top: 30px;
}

.kind{
    font-size:20p5 ;
}
.description{
    width: 550px;
    height: 250px;
    border-radius: 40px;
    box-shadow: 0px 2px 2px 0px #d5b697; 
    background-color: rgb(244, 242, 239);
}


.des{
    font-size: 20px;
}

.btlearn{
    width: 110px;
    height: 20.5px;
    font:black;
    border-radius: 5px;
    border:2px solid black;
    background-color: #f1ede9;
}

.btlearn:hover{ 
    width: 90px;
    transition: all 0.2s;
    background-color:#ddc3a9;
    box-shadow: 0px 2px 2px 0px #d5b697; 
}
.btlearn a{
    text-decoration: none;
    color:#2a2928
}
.home1 {
    background-color: #c36a2d;
    color: #fbfbfb;
    width: 300px;
}
.home1:hover {
    background-color: white;
    color: #c36a2d;
    border: 2px solid #c36a2d;
}
/* -----------------------------------------------gallary---------------------- */

.gallary{
    width:90% ;
    height: 850px;
    display:flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.boxgallary{
    width: 400px;
    height: 400px;
    border-radius: 30px 0;
    box-shadow: 0 0 20px 2px #ddc3a9;
}
.gallary img{
    width: 350px;
    height: 350px;
    display: block;
    border-radius:0 50px;
    padding-top: 25px;
    padding-left: 5px;
}
.gallary img:hover{
    opacity: 0.8;
    width: 320px;
    height: 320px;
}



/* ------------------menue----------------------- */



.menue1{
    width:90% ;
    height: 8000px;
    display:flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.boxmenue{
    width: 400px;
    height: 600px;
    border-radius: 30px 0;
    box-shadow: 0 0 20px 2px #ddc3a9;
}

.menue1 img{
    width: 350px;
    height: 350px;
    display: block;
    border-radius:0 50px;
    padding-top: 25px;
    padding-left: 5px;
}

.menue1 img:hover{
    opacity: 0.8;
    width: 320px;
    height: 320px;
}
.menue1 .boxmenue button{
width: 80px;
height: 20.5px;
margin-top: 25px;
margin-left: 10px;
border-radius: 5px;
border:2px solid black;
background-color: #f1ede9;
}
.menue1 .boxmenue button:hover{
width: 150px;
height: 23px;
transition: all 0.5s;
background-color:#ddc3a9;
box-shadow: 0px 2px 2px 0px #d5b697; 
}
.d {
    background-color: #d77e43;
    color: #fbfbfb;
    text-decoration: none;
}
.d:hover {
    background-color: white;
    color: #c36a2d;
    border: 2px solid #c36a2d;
}
/* 
@media (min-width:1000px) and (max-width:2000px) {
    
} */
/* ------------------footer------------------- */



.footer{
    background: #333;
    background-image: linear-gradient(to bottom, #333, #555555,#333,#909090);

}
.footer .boxfooter{
    display:  flex;
    flex-wrap: wrap;
}
.footer .boxfooter .box{
    padding-top: 10px ;
    padding-left: 20px;
    flex: 1 1 25rem;
}
.footer .boxfooter .box h3{
    font-size: 30px;
    padding-top: 10px;
    color: #dba978;
}

.footer .boxfooter .box p{
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #eee;
}
.footer .boxfooter .box a{
    font-size: 25px;
    padding: .5rem 0;
    color: #eee;
    display: block;
    text-decoration: none;
}
.footer .boxfooter .box a:hover{
    color:  #e6e2dd;
}

/* @media only screen and (max-width: 750px) {
    body {
      background-color: lightblue;
    }
  } */


